// 全ての code に対して フォント を適用する（日本語フォントは検討の余地あり）
.v-application code {
  font-family: "SFMono-Regular","Consolas","Liberation Mono","Menlo","monospace" !important;
}


// コードブロックで ファイル名を右上に表示する
.nuxt-content .nuxt-content-highlight>.filename {
    position: absolute;
    right: 0;
    top: 0;
    --text-opacity: 1;
    color: #f7fafc;
    color: rgba(247,250,252,var(--text-opacity));
    z-index: 10;
    font-family: DM Mono,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: -.025em;
    line-height: 1;
    margin-right: 1rem;
    margin-top: .75rem;
}
.nuxt-content-highlight {
    position: relative;
}

// Vuetify.js の コードブロック style を無効化
.nuxt-content-highlight code {
    background-color: unset !important;
    padding: unset !important;
}

// nuxt/content 記事本文のスタイル
.nuxt-content {
    p,div, ul {
        margin-left: 20px;
        margin-right: 20px;
    }
    ul {
        margin-bottom: 16px; // 16px は Vuetify における pタグ margin-bottom
    }
    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h3 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    details {
        background-color: var(--v-accent-base);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 30px;
    }
    summary::after {
        content: "\A---------"; // TODO さすがに雑すぎる
        white-space: pre ;
    }
    
    h2{
        border-bottom: solid 3px var(--v-accent_chip-base);
    }
    
    h3 {
        border-bottom: solid 3px var(--v-accent-base);
    }
    h4 {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    h4:before {
            color: var(--v-accent-base);
            content: '● ';
    }
    
    table, th, tr, td {
        border: 1px #666 solid; // TODO 色なんとかする
        border-collapse: collapse;
    }
    table {
        width: 100%;
    }
    th {
        background-color: #666;
        padding: 10px;
    }
    td {
        padding: 10px;
    }
}

article h1 {
    margin-bottom: 50px;
    font-size: 40px;
    // border-bottom: solid 8px #FFF;
}

.tag-list {
    font-size: 24px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--v-accent-base);
}

.breadcrumbs {
    background-color: var(--v-accent-base);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    
    ol {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    list-style-type: none; // パンくずリストのリスト記号を非表示にする
    li {
        display: inline; // パンくずリストを横並びにする
    }
}
